*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: antiquewhite;
    line-height: 1.5;
}
.logo img{
    width: 80px;
    height: 70px;
}
.logo p{
    float: right;
    margin-left: 10px;
    color: white;
    margin-top: 23px;
    font-size: 23px;
}
.main-header{
    height: 84px;
    padding: 0 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, rgb(14, 49, 25) 35%, rgb(24, 59, 35) 60%);
}

.main-header .navigation ul li{
    padding: 0 40px; 
    font-size: 23px;
    color: white;
    transition: font-size 0.7s;
}

.main-header ul{
    display: flex;
    align-items: center;
}

.main{
    background-color: antiquewhite;
    padding: 0 7vw;
}
.main1{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.main1 div:nth-child(2){
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.main1 div:nth-child(1){
    padding-top: 20px;
    flex: 1;
    font-size: 35px;
}

.main1 div:nth-child(1) p{
    font-size: 18px;
    padding: 20px 0;
}

.main1 div:nth-child(1) span{
    color: darkgreen;
}

.main1 div:nth-child(2) img{
    border-radius: 60%;
    margin-left: 70px;
    max-width: 500px;
    width: 50vw;
}

.btn1{
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: antiquewhite;
    line-height: 50px;
    background-color:darkgreen;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid darkgreen;
    box-shadow: 0 9px 18px darkgreen;
    transition: all 0.4s;
}

.btn1:hover{
    background-color:rgb(14, 49, 25);
    width: 170px;
    transition-duration: 0.7s;
    font-size: 14px;
    box-shadow: 0 18px 18px darkseagreen;
    color: white
}
.main2{
    margin: 70px 0;
    padding: 20px 0;
    background-color:antiquewhite;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.food1{
    width: 250px;
    padding: 30px;
    text-align: center;
}
.food1 div{
    height: 160px;
}
.food1 img{
    width: 160px;
    margin-bottom: 15px;
}
.food1 p{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.food2{
    width: 250px;
    padding: 30px;
    text-align: center;
}
.food2 div{
    height: 160px;
}
.food2 img{
    width: 160px;
    height: 130px;
    margin-bottom: 15px;
}
.food2 p{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.food3{
    width: 250px;
    padding: 30px;
    text-align: center;
}
.food3 div{
    height: 160px;
}
.food3 img{
    width: 160px;
    height: 130px;
    margin-bottom: 15px;
}
.food3 p{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main3{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pick{
    flex: 0.5;
}
.pick img{
    max-width: 500px;
    border-radius: 60%;
    width: 50vw;
}
.favourite{
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
}

.favourite h2{
    margin-bottom: 16px;
    font-size: 36px;
}

.ans{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    margin-right: 20px;
    justify-content: flex-start;
}

.fcontainer{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col ul{
    list-style: none;
}
.footer{
    background-image: linear-gradient(90deg, rgb(14, 49, 25) 35%, rgb(24, 59, 35) 60%);
    padding: 70px 0;
  }
.footer-col{
     width: 25%;
     padding: 0 15px;
  }
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: darkseagreen;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: darkslategray;
    background-color: white;
  }

.main-header .navigation ul li:hover{
    transition-duration: 0.7s;
    font-size: 30px;
}

.main_about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.about_us{
    background: url(https://iamafoodblog.b-cdn.net/wp-content/uploads/2020/11/korean-bbq-8064w.jpg) no-repeat left;
    background-color: antiquewhite;
    background-size: 130%;
    overflow: hidden;
    padding: 100px 0;
}

.about-container{
    width: 62%;
    float: right;
    background-color: antiquewhite;
    padding: 150px;
}

.about-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: darkgreen;
}
.about-container p{
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}

.vid {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
.vid video {
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-menu{
    margin: 0 auto;
    padding: 1.5em;
}
.menu{
    font-size: 16px;
}
.menu h2{
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid darkseagreen;
}
.menu-group{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}
.menu-food{
    display: flex;
}
.menu-food img{
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
    border-radius: 20px;
    border: 1px solid green;
    transition: all 0.6s ease;
}

.menu-food img:hover{
    width: 182px;
    height: 182px;
    transition: 0.6s;
}
.menu-text{
    flex-grow: 1;
}
.menu-text h4{
    margin: 0;
    display: flex;
    justify-content: center;
}
.food-name{
    margin: auto;
}
.food-description{
    line-height: 1.5;

}
.form-area{
    padding-top: 5%;
    padding-bottom: 5%;
}
.row.single-form{
    box-shadow: 0 3px 20px 10px darkseagreen;
    background: antiquewhite;
}
.left{    
    background-image: linear-gradient(180deg, rgb(14, 49, 25), rgb(24, 59, 35), rgb(34, 69, 45), rgb(44, 79, 55) );
    padding: 200px 98px;
    margin-left: -15px;
}
.left h2{
    color: lightgray;
    font-weight: 100;
    font-size: 48px;
}
.left h2 span{
    font-weight: 100;
    color: antiquewhite;
}
.right{
    padding: 70px 100px;
    position: relative;
}
.right i{
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: antiquewhite
}
.form-control{
    border: 2px solid darkgreen;
}
.right button{
    border: none;
    background: darkgreen;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;

}
.right button:hover{
    background-color:rgb(14, 49, 25);
    transition-duration: 0.7s;
    box-shadow: 0 18px 18px darkseagreen;
    color: white
}

@media only screen and (max-width: 768px) {
    .main-header {
        height: auto; 
        padding: 20px; 
    }

    .logo p {
        float: none; 
        margin: 0; 
        text-align: center; 
        margin-bottom: 10px; 
    }

    .main-header .navigation {
        text-align: center; 
    }

    .main-header .navigation ul {
        display: block; 
    }

    .main-header .navigation ul li {
        display: inline-block; 
        padding: 10px 20px; 
    }
}