.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container a {
    width: fit-content;
    text-decoration: none;
    color: whitesmoke;
    transition: transform 200ms ease-in-out;
  }
.container img {
    margin-top: 10vh;
    max-width: 250px;
    align-self: center;
    background-color: whitesmoke;
    border-radius: 50px;
}
a:hover {
    transform: scale(1.05);
}
h2{
    color: whitesmoke;
}
.projects_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
  
@media (width >= 800px) {
    .projects_container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
      height: 70vh
    }
    .container img{
        max-width: 220px;
    }
}