.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 18px;
    height: 70vh;
    min-height: 500px;
    background-color: rgb(15, 15, 15);
}
.image_container{
    position: relative;
}
.avatar{
    max-width: 350px;
}
.information{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.information h2, h3{
    color: whitesmoke;
}
.text{
    color: whitesmoke;
}
span {
    display: flex;
    gap: 25px;
    justify-content: center;
    a {
      margin: 0;
      img {
        width: 30px;
      }
    }
}
a{
    width: fit-content;
    align-self: center;
}
@media (width>=1400px){
    .container{
        .avatar{
            max-width: 400px;
            width: 400px;
        }
    }
}
@media (width>=800px) {
    .container {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
  
      .avatar {
        max-width: 350px;
        width: 350px;
      }
    }
}
@media (width<800px){
    .image_container img{
        width: 200px;
    }
}